@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-noto-serif);
  --font-heading: var(--font-boucherie);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-serif), serif;
}
