@import "tailwindcss";

:root {
  --foreground: #ffffff;
  --primary: #f9ddd0;
  --secondary: #a9a9a9;
  --background: #292729;
  --background-secondary: #211F21;
}

@theme inline {
  --color-background: var(--background);
  --color-background-secondary: var(--background-secondary);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-noto-serif);
  --font-heading: var(--font-boucherie);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-noto-serif), serif;
  cursor: url('/Cursor.png'), auto;
}

button,
a,
input,
textarea,
select {
  cursor: url('/Cursor.png'), auto;
}